/* Clayton Work */
.singleProductForSale{
    width: 32%;
    margin: 1%;
}
#allBeerthasForSale{
    width: 100%;
}
img{
    width: 99%;
}
img:hover{
    opacity: .75;
    transition: 0.3s;
}
.oneRow{
    width: 100%;
    display: flex;
}

/* Ronak Work */