* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
#loader{
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  z-index: 6;
  background-color: #fff;
}
/* Clayton Work */
.headerContainer {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 10rem;
  z-index: 2;
}

#mainContainer {
  margin-top: 20vh;
  margin-bottom: 5vh;
  width: 100%;
}

.vidPlaceholder {
  height: 50vh;
  width: 100vw;
  background-color: #eee;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin: 30px;
  margin-left: 60px;
  border-radius: 5px;
  padding: 25px;
}

.card:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
  text-align: center;
}

.card .container p {
  margin-top: 30px;
  line-height: 1.5em;
  font-size: 18px;
}
