*{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    position: relative;
}
#videoContentContainer {
  margin-top: 15vh;
  position: relative;
  z-index: -5;

}
div[class*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* Buy Button
  .btn {
  	line-height: 50px;
  	height: 50px;
  	text-align: center;
  	width: 250px;
  	cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-one {
  	color: #fff;
  	transition: all 0.3s;
  }
  .btn-one span {
  	transition: all 0.3s;
    vertical-align: middle;
    position: relative;
    vertical-align: middle;
    font-size: 36px !important;
    margin-bottom: 50px;
  }
  .btn-one::before {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
  	opacity: 0;
  	transition: all 0.3s;
  	border-top-width: 2px;
  	border-bottom-width: 2px;
  	border-top-style: solid;
  	border-bottom-style: solid;
  	border-top-color: rgba(255,255,255,0.5);
  	border-bottom-color: rgba(255,255,255,0.5);
  	transform: scale(0.1, 1);
  }
  .btn-one:hover span {
  	letter-spacing: 2px;
  }
  .btn-one:hover::before {
  	opacity: 1;
  	transform: scale(1, 1);
  }
  .btn-one::after {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
  	transition: all 0.3s;
  	background-color: rgba(255,255,255,0);
  }
  .btn-one:hover::after {
  	opacity: 0;
  	transform: scale(0.1, 1);
  }
}
/* End Buy Button */

  /* Responsive Menu */
    nav {
          padding: 8px;
    }
    a {
      text-decoration: none !important;
      text-transform: none !important;
    }
    a:hover{
      color: #070;
    }

    .logo {
          float: left;
          padding: 8px;
          margin-left: 16px;
          margin-top: 8px;
    }

    .logo a {
          color: #000;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0px;
          text-decoration: none;
    }

    nav ul {
          float: right;
    }

    nav ul li {
          display: inline-block;
          float: left;
    }

    nav ul li:not(:first-child) {
          margin-left: 24px;
    }

    nav ul li:last-child {
          margin-right: 24px;
    }

    nav ul li a {
          display: inline-block;
          outline: none;
          color: #000;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 1.2px;
          font-weight: 600;
          box-sizing:
    }

    @media screen and (max-width: 864px) {
          .logo {
                padding: 0;
          }

          .nav-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba(255,255,255,0.9);
                opacity: 0;
                transition: all 0.2s ease;
          }

          .nav-wrapper ul {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
          }

          .nav-wrapper ul li {
                display: block;
                float: none;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
          }

          .nav-wrapper ul li:nth-child(1) a {
                transition-delay: 0.2s;
          }

          .nav-wrapper ul li:nth-child(2) a {
                transition-delay: 0.3s;
          }

          .nav-wrapper ul li:nth-child(3) a {
                transition-delay: 0.4s;
          }

          .nav-wrapper ul li:nth-child(4) a {
                transition-delay: 0.5s;
          }

          .nav-wrapper ul li:not(:first-child) {
                margin-left: 0;
          }

          .nav-wrapper ul li a {
                padding: 10px 24px;
                opacity: 0;
                color: #000;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1.2px;
                transform: translateX(-20px);
                transition: all 0.2s ease;
          }

          .nav-btn {
                position: fixed;
                right: 10px;
                top: 10px;
                display: block;
                width: 48px;
                height: 48px;
                cursor: pointer;
                z-index: 9999;
                border-radius: 50%;
          }

          .nav-btn i {
                display: block;
                width: 20px;
                height: 2px;
                background: #000;
                border-radius: 2px;
                margin-left: 14px;
          }

          .nav-btn i:nth-child(1) {
                margin-top: 16px;
          }

          .nav-btn i:nth-child(2) {
                margin-top: 4px;
                opacity: 1;
          }

          .nav-btn i:nth-child(3) {
                margin-top: 4px;
          }
          .descriptionContainer {
            font-size: 16px;
            text-align: justify;
          }
    }

    #nav:checked + .nav-btn {
          transform: rotate(45deg);
    }

    #nav:checked + .nav-btn i {
          background: #000;
          transition: transform 0.2s ease;
    }

    #nav:checked + .nav-btn i:nth-child(1) {
          transform: translateY(6px) rotate(180deg);
    }

    #nav:checked + .nav-btn i:nth-child(2) {
          opacity: 0;
    }

    #nav:checked + .nav-btn i:nth-child(3) {
          transform: translateY(-6px) rotate(90deg);
    }

    #nav:checked ~ .nav-wrapper {
          z-index: 9990;
          opacity: 1;
    }

    #nav:checked ~ .nav-wrapper ul li a {
          opacity: 1;
          transform: translateX(0);
    }

    .hidden {
          display: none;
    }
  /* End Responsive Menu */

  .descriptionContainer {
    font-size: 24px;
    text-align: justify;
  }
  .aboutContainer{
    margin-top: 20px;
  }