<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Big Beertha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/underline.css' %}">
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/buyBeertha.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/buyBeertha.css' %}">
</head>
<style>
</style>

<body>
  <div class="container-fluid" style="margin-top:15%;">
    <div class="row">
        <div class="col">
            <div class="productCard">
                <div id="coverImages">
                    <img src="{% static 'img/singleBeerthaPhotos/close_up_280x420.jpeg' %}" alt="render.jpg" class="bottom"> 
                    <img src="{% static 'img/FullSizeRender_550x825.jpg' %}" alt="render.jpg" class="top">
                </div>
                <div class="productInfo">
                    <h1>The Big Beertha</h1>
                    <h2>$44</h2>
                    <p class="desc">
                    The OG in the plastic. The Big Beertha looks like a full sized golf driver, and stores best in your golf bag...only it's not a driver, its a highly adaptable drinking receptacle.
                    </p>
                    <!-- The buy button for the single beertha along with all of the shopify code -->
                    <div id='product-component-dc7af7f7f31'></div>
                    <script type="text/javascript">
                    /*<![CDATA[*/
                    (function () {
                      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
                      if (window.ShopifyBuy) {
                        if (window.ShopifyBuy.UI) {
                          ShopifyBuyInit();
                        } else {
                          loadScript();
                        }
                      } else {
                        loadScript();
                      }
                
                      function loadScript() {
                        var script = document.createElement('script');
                        script.async = true;
                        script.src = scriptURL;
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                        script.onload = ShopifyBuyInit;
                      }
                
                      function ShopifyBuyInit() {
                        var client = ShopifyBuy.buildClient({
                          domain: 'the-big-beertha.myshopify.com',
                          storefrontAccessToken: '734d37c05405a98193de697cda4ea58d',
                        });
                
                        ShopifyBuy.UI.onReady(client).then(function (ui) {
                          ui.createComponent('product', {
                            id: [10186607942],
                            node: document.getElementById('product-component-dc7af7f7f31'),
                            moneyFormat: '%24%7B%7Bamount%7D%7D',
                            options: {
                                "product": {
                                    "variantId": "all",
                                    "width": "240px",
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": false,
                                    "title": false,
                                    "variantTitle": false,
                                    "price": false,
                                    "description": false,
                                    "buttonWithQuantity": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "text-align": "right",
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0",
                                        "margin-bottom": "50px"
                                        }
                                    },
                                    "compareAt": {
                                        "font-size": "12px"
                                    }
                                    }
                                },
                                "cart": {
                                    "contents": {
                                    "button": true
                                    },
                                    "styles": {
                                    "footer": {
                                        "background-color": "#ffffff"
                                    }
                                    }
                                },
                                "modalProduct": {
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": true,
                                    "variantTitle": false,
                                    "buttonWithQuantity": true,
                                    "button": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0px",
                                        "margin-bottom": "0px"
                                        }
                                    }
                                    }
                                },
                                "toggle": {
                                    "styles": {
                                    "count": {
                                        "color": "#ffffff",
                                        ":hover": {
                                        "color": "#ffffff"
                                        }
                                    },
                                    "iconPath": {
                                        "fill": "#ffffff"
                                    }
                                    }
                                },
                                "productSet": {
                                    "styles": {
                                    "products": {
                                        "@media (min-width: 601px)": {
                                        "margin-left": "-20px"
                                        }
                                    }
                                    }
                                }
                            }
                          });
                        });
                      }
                    })();
                    /*]]>*/
                    </script>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="productCard">
                <div id="coverImages">
                    <img src="{% static 'img/singleBeerthaPhotos/IMG_0440.JPG' %}" alt="render.jpg" class="bottom"> 
                    <img src="{% static 'img/BeerthaCover.jpeg' %}" alt="render.jpg" class="top">
                </div>
                <div class="productInfo">
                    <h1>Beertha Head Cover</h1>
                    <h2>$7</h2>
                    <p class="desc">
                        Get your Big Beertha out on the course incognito, only unveiling it to your foursome when they least expect it. One brand new Big Beertha, fresh from the press, along with one of our custom club head covers.
                    </p>
                    <div id='product-component-ed7e1712468'></div>
                    <script type="text/javascript">
                    /*<![CDATA[*/

                    (function () {
                    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
                    if (window.ShopifyBuy) {
                        if (window.ShopifyBuy.UI) {
                        ShopifyBuyInit();
                        } else {
                        loadScript();
                        }
                    } else {
                        loadScript();
                    }

                    function loadScript() {
                        var script = document.createElement('script');
                        script.async = true;
                        script.src = scriptURL;
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                        script.onload = ShopifyBuyInit;
                    }

                    function ShopifyBuyInit() {
                        var client = ShopifyBuy.buildClient({
                        domain: 'the-big-beertha.myshopify.com',
                        storefrontAccessToken: '734d37c05405a98193de697cda4ea58d',
                        });

                        ShopifyBuy.UI.onReady(client).then(function (ui) {
                        ui.createComponent('product', {
                            id: [10186617286],
                            node: document.getElementById('product-component-ed7e1712468'),
                            moneyFormat: '%24%7B%7Bamount%7D%7D',
                            options: {
                                "product": {
                                    "variantId": "all",
                                    "width": "240px",
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": false,
                                    "title": false,
                                    "variantTitle": false,
                                    "price": false,
                                    "description": false,
                                    "buttonWithQuantity": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "text-align": "right",
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0",
                                        "margin-bottom": "50px"
                                        }
                                    },
                                    "compareAt": {
                                        "font-size": "12px"
                                    }
                                    }
                                },
                                "cart": {
                                    "contents": {
                                    "button": true
                                    },
                                    "styles": {
                                    "footer": {
                                        "background-color": "#ffffff"
                                    }
                                    }
                                },
                                "modalProduct": {
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": true,
                                    "variantTitle": false,
                                    "buttonWithQuantity": true,
                                    "button": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0px",
                                        "margin-bottom": "0px"
                                        }
                                    }
                                    }
                                },
                                "toggle": {
                                    "styles": {
                                    "count": {
                                        "color": "#ffffff",
                                        ":hover": {
                                        "color": "#ffffff"
                                        }
                                    },
                                    "iconPath": {
                                        "fill": "#ffffff"
                                    }
                                    }
                                },
                                "productSet": {
                                    "styles": {
                                    "products": {
                                        "@media (min-width: 601px)": {
                                        "margin-left": "-20px"
                                        }
                                    }
                                    }
                                }
                                }
                                        });
                                        });
                                    }
                                    })();
                                    /*]]>*/
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="productCard">
                <div id="coverImages">
                    <img src="{% static 'img/singleBeerthaPhotos/Top_Wood_280x420.jpg' %}" alt="render.jpg" class="bottom"> 
                    <img src="{% static 'img/UndercoverBeertha_550x825.jpeg' %}" alt="render.jpg" class="top">
                </div>
                <div class="productInfo">
                    <h1>The Beertha Plus</h1>
                    <h2>$49</h2>
                    <p class="desc">
                        Get your Big Beertha out on the course incognito, only unveiling it to your foursome when they least expect it. One brand new Big Beertha, fresh from the press, along with one of our custom club head covers.
                    </p>
                    <div id='product-component-9425584fd3c'></div>
                    <script type="text/javascript">
                    /*<![CDATA[*/

                    (function () {
                    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
                    if (window.ShopifyBuy) {
                        if (window.ShopifyBuy.UI) {
                        ShopifyBuyInit();
                        } else {
                        loadScript();
                        }
                    } else {
                        loadScript();
                    }

                    function loadScript() {
                        var script = document.createElement('script');
                        script.async = true;
                        script.src = scriptURL;
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                        script.onload = ShopifyBuyInit;
                    }

                    function ShopifyBuyInit() {
                        var client = ShopifyBuy.buildClient({
                        domain: 'the-big-beertha.myshopify.com',
                        storefrontAccessToken: '734d37c05405a98193de697cda4ea58d',
                        });

                        ShopifyBuy.UI.onReady(client).then(function (ui) {
                        ui.createComponent('product', {
                            id: [10186624582],
                            node: document.getElementById('product-component-9425584fd3c'),
                            moneyFormat: '%24%7B%7Bamount%7D%7D',
                            options: {
                                "product": {
                                    "variantId": "all",
                                    "width": "240px",
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": false,
                                    "title": false,
                                    "variantTitle": false,
                                    "price": false,
                                    "description": false,
                                    "buttonWithQuantity": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "text-align": "right",
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0",
                                        "margin-bottom": "50px"
                                        }
                                    },
                                    "compareAt": {
                                        "font-size": "12px"
                                    }
                                    }
                                },
                                "cart": {
                                    "contents": {
                                    "button": true
                                    },
                                    "styles": {
                                    "footer": {
                                        "background-color": "#ffffff"
                                    }
                                    }
                                },
                                "modalProduct": {
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": true,
                                    "variantTitle": false,
                                    "buttonWithQuantity": true,
                                    "button": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0px",
                                        "margin-bottom": "0px"
                                        }
                                    }
                                    }
                                },
                                "toggle": {
                                    "styles": {
                                    "count": {
                                        "color": "#ffffff",
                                        ":hover": {
                                        "color": "#ffffff"
                                        }
                                    },
                                    "iconPath": {
                                        "fill": "#ffffff"
                                    }
                                    }
                                },
                                "productSet": {
                                    "styles": {
                                    "products": {
                                        "@media (min-width: 601px)": {
                                        "margin-left": "-20px"
                                        }
                                    }
                                    }
                                }
                                }
                                        });
                                        });
                                    }
                                    })();
                                    /*]]>*/
                    </script>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="productCard">
                <div id="coverImages">
                    <img src="{% static 'img/6445d972d74a09edcbcba1493b690d47_original.jpeg' %}" alt="render.jpg" class="bottom"> 
                    <img src="{% static 'img/Par3_550x825.jpeg' %}" alt="render.jpg" class="top">
                </div>
                <div class="productInfo">
                    <h1>The Par Three</h1>
                    <h2>$119</h2>
                    <p class="desc">
                        Want more than one Big Beertha? Get 3 Beerthas with the Par 3 box and save money. You cannot beat this deal!
                    </p>
                    <div id='product-component-08a4dbc8eff'></div>
                    <script type="text/javascript">
                    /*<![CDATA[*/
                    (function () {
                      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
                      if (window.ShopifyBuy) {
                        if (window.ShopifyBuy.UI) {
                          ShopifyBuyInit();
                        } else {
                          loadScript();
                        }
                      } else {
                        loadScript();
                      }
                
                      function loadScript() {
                        var script = document.createElement('script');
                        script.async = true;
                        script.src = scriptURL;
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                        script.onload = ShopifyBuyInit;
                      }
                
                      function ShopifyBuyInit() {
                        var client = ShopifyBuy.buildClient({
                          domain: 'the-big-beertha.myshopify.com',
                          storefrontAccessToken: '734d37c05405a98193de697cda4ea58d',
                        });
                
                        ShopifyBuy.UI.onReady(client).then(function (ui) {
                          ui.createComponent('product', {
                            id: [10186632710],
                            node: document.getElementById('product-component-08a4dbc8eff'),
                            moneyFormat: '%24%7B%7Bamount%7D%7D',
                            options: {
                                "product": {
                                    "variantId": "all",
                                    "width": "240px",
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": false,
                                    "title": false,
                                    "variantTitle": false,
                                    "price": false,
                                    "description": false,
                                    "buttonWithQuantity": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "text-align": "right",
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0",
                                        "margin-bottom": "50px"
                                        }
                                    },
                                    "compareAt": {
                                        "font-size": "12px"
                                    }
                                    }
                                },
                                "cart": {
                                    "contents": {
                                    "button": true
                                    },
                                    "styles": {
                                    "footer": {
                                        "background-color": "#ffffff"
                                    }
                                    }
                                },
                                "modalProduct": {
                                    "contents": {
                                    "img": false,
                                    "imgWithCarousel": true,
                                    "variantTitle": false,
                                    "buttonWithQuantity": true,
                                    "button": false,
                                    "quantity": false
                                    },
                                    "styles": {
                                    "product": {
                                        "@media (min-width: 601px)": {
                                        "max-width": "100%",
                                        "margin-left": "0px",
                                        "margin-bottom": "0px"
                                        }
                                    }
                                    }
                                },
                                "toggle": {
                                    "styles": {
                                    "count": {
                                        "color": "#ffffff",
                                        ":hover": {
                                        "color": "#ffffff"
                                        }
                                    },
                                    "iconPath": {
                                        "fill": "#ffffff"
                                    }
                                    }
                                },
                                "productSet": {
                                    "styles": {
                                    "products": {
                                        "@media (min-width: 601px)": {
                                        "margin-left": "-20px"
                                        }
                                    }
                                    }
                                }
                                }
                                        });
                                        });
                                    }
                                    })();
                                    /*]]>*/
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="productCard">
          <img src="{% static 'img/multipleB.jpg' %}" alt="render.jpg">
          <div class="productInfo">
            <h1>Full Set</h1>
            <h2>$399</h2>
            <p class="desc">
                Need a lot of Big Beerthas for an event or tourney? Or maybe you live in a frat house. Maybe you just enjoy the satisfaction one feels when extending a fresh new Beertha to good friends, thereby enriching their lives. The Full Set
                includes 12 Big Beerthas delivered right to your door.
            </p>
            <div id='product-component-dac1eef423c'></div>
            <script type="text/javascript">
            /*<![CDATA[*/
        
            (function () {
              var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
              if (window.ShopifyBuy) {
                if (window.ShopifyBuy.UI) {
                  ShopifyBuyInit();
                } else {
                  loadScript();
                }
              } else {
                loadScript();
              }
        
              function loadScript() {
                var script = document.createElement('script');
                script.async = true;
                script.src = scriptURL;
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                script.onload = ShopifyBuyInit;
              }
        
              function ShopifyBuyInit() {
                var client = ShopifyBuy.buildClient({
                  domain: 'the-big-beertha.myshopify.com',
                  storefrontAccessToken: '734d37c05405a98193de697cda4ea58d',
                });
        
                ShopifyBuy.UI.onReady(client).then(function (ui) {
                  ui.createComponent('product', {
                    id: [10186640838],
                    node: document.getElementById('product-component-dac1eef423c'),
                    moneyFormat: '%24%7B%7Bamount%7D%7D',
                    options: {
                        "product": {
                            "variantId": "all",
                            "width": "240px",
                            "contents": {
                            "img": false,
                            "imgWithCarousel": false,
                            "title": false,
                            "variantTitle": false,
                            "price": false,
                            "description": false,
                            "buttonWithQuantity": false,
                            "quantity": false
                            },
                            "styles": {
                            "product": {
                                "text-align": "right",
                                "@media (min-width: 601px)": {
                                "max-width": "100%",
                                "margin-left": "0",
                                "margin-bottom": "50px"
                                }
                            },
                            "compareAt": {
                                "font-size": "12px"
                            }
                            }
                        },
                        "cart": {
                            "contents": {
                            "button": true
                            },
                            "styles": {
                            "footer": {
                                "background-color": "#ffffff"
                            }
                            }
                        },
                        "modalProduct": {
                            "contents": {
                            "img": false,
                            "imgWithCarousel": true,
                            "variantTitle": false,
                            "buttonWithQuantity": true,
                            "button": false,
                            "quantity": false
                            },
                            "styles": {
                            "product": {
                                "@media (min-width: 601px)": {
                                "max-width": "100%",
                                "margin-left": "0px",
                                "margin-bottom": "0px"
                                }
                            }
                            }
                        },
                        "toggle": {
                            "styles": {
                            "count": {
                                "color": "#ffffff",
                                ":hover": {
                                "color": "#ffffff"
                                }
                            },
                            "iconPath": {
                                "fill": "#ffffff"
                            }
                            }
                        },
                        "productSet": {
                            "styles": {
                            "products": {
                                "@media (min-width: 601px)": {
                                "margin-left": "-20px"
                                }
                            }
                            }
                        }
                        }
                                });
                                });
                            }
                            })();
                            /*]]>*/
            </script>
          </div>
        </div>
      </div>
    </div>
  {% include 'header.html' %}
  {% include 'footer.html' %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>

var cart = {
    "singleBeertha": 0,
    "headCover": 0,
    "bigBeerthaPlus": 0,
    "beerthaParThree": 0,
    "beerthaFullSet": 0,
    "total": 0
}
function addToCart(itemAdded) {
    cart[itemAdded]++;
    updatedCart();
}
function updatedCart(){
    cart['total'] = 0.0;
    var sinQuan = cart['singleBeertha'];
    document.getElementById("singleBeerthaQuantity").innerHTML = ("Big Beertha: " + cart['singleBeertha']);
    cart['total'] += (sinQuan * 44);
    var headQuan = cart['headCover'];
    document.getElementById("headCoverQuantity").innerHTML = ("Head Cover: " + cart['headCover']);
    cart['total'] += (headQuan * 7);
    var plusQuan = cart['bigBeerthaPlus']
    document.getElementById("beerthaPlusQuantity").innerHTML = ("Beertha Plus: " +cart['bigBeerthaPlus']);
    cart['total'] += (plusQuan * 49);
    var threeQuan = cart['beerthaParThree']
    document.getElementById("parThreeQuantity").innerHTML = ("Par Three: " + cart['beerthaParThree']);
    cart['total'] += (threeQuan * 117);
    var fullQuan = cart['beerthaFullSet']
    document.getElementById("fullSetQuantity").innerHTML = ("Full Set: " + cart['beerthaFullSet']);
    cart['total'] += (fullQuan * 399);
    document.getElementById("cartTotal").innerHTML = ("Total: $" + cart['total'] + ".00");
}
function emptyCart() {
    var cart = {
        "singleBeertha": 0,
        "beerthaHeadCover": 0,
        "bigBeerthaPlus": 0,
        "beerthaParThree": 0,
        "beerthaFullSet": 0,
        "total": 0.0
    }
}
function changeImages(element){
    var productImagesOne = ["{% static 'img/FullSizeRender_550x825.jpg' %}", "{% static 'img/singleBeerthaPhotos/Top_Wood_280x420.jpg' %}","{% static 'img/singleBeerthaPhotos/close_up_280x420.jpeg' %}"];
    var productImagesTwo = ["{% static 'img/BeerthaCover.jpeg' %}"];
    var productImagesThree = ["{% static 'img/UndercoverBeertha_550x825.jpeg' %}"];
    var images = ["{% static 'img/FullSizeRender_550x825.jpg' %}", "{% static 'img/singleBeerthaPhotos/Top_Wood_280x420.jpg' %}","{% static 'img/singleBeerthaPhotos/close_up_280x420.jpeg' %}"];
    var i = 0;
    var renew = setInterval(function(){
        if(images.length == i){
            i = 0;
        }
        else {
            var change = document.getElementById(element);
            change.src = images[i];
            i++;
        }
    },1000);
}
function closeTab(element) {
    var elem = document.getElementById(element);
    var main = document.getElementById("mainContainer");
    elem.style.display = "none";
    main.style.opacity = 1.0;
}
</script>

</html>
