<div id="beerthaFooter" style="text-align: center;">
    <div id="contactInformation">
        <h5>Chicago, IL</h5>
        <h5><a href="mailto:bigbeertha@bigbeertha.com?Subject=Big%20Beertha%20Inquiry" target="_top">BigBeertha@BigBeertha.com</a></h5>
    </div>
    <div class="stayConnected">
        <div id="emailContactForm">
            <h4>Stay Connected</h4>
            <p>Keep up to date with all of the news about the best and beer bong driver on the market</p>
            <form action="emailSubscriber" method="POST">
                {% csrf_token %}
                <input type="email" name="subscriberEmail">
            </form>
        </div>
        <div id="socialMediaButtons">
            <a href="https://www.facebook.com/bigbeertha/" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/bigbeertha/" target="_blank">Instagram</a>
            <a href="https://twitter.com/bigbeertha" target="_blank">Twitter</a>
        </div>
    </div>
    <h4>&copy Big Beertha</h4>
</div>
<div id="ronovoFooter" style="text-align: center;">
    <h6>&copy A Ronovo LLC Website - All Rights Reserved</h6>
</div>