<style>
  ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
    margin-top: -15px;
    margin-left: -50px;
  }

  ul li {
    display: inline-block;
    margin:0px 20px;

  }

  .navUnder {
    font-size: 20px;
    color: #584e4a;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 8px;
  }

  .navUnder:before,
  .navUnder:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #66bd61;
  }

  .navUnder:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .navUnder:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .navUnder:hover:before,
  .navUnder:hover:after,
  .navUnder:focus:before,
  .navUnder:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .navUnder:hover:before,
  .navUnder:focus:before {
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .navUnder:hover:after,
  .navUnder:focus:after {
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .logoWrapper{
    
  }
</style>

<div style="background-color: #fff;" class="headerContainer">
  <nav>
    <div class="logo">
      <a href="/"></a>
    </div>
    <div class="nav-wrapper">
      <ul>
        <li><a class="navUnder" href="/">Home</a></li>
        <li><a class="navUnder" href="buyBeertha">Buy Beertha</a></li>
        <li><a class="navUnder" href="social">Social</a></li>
        <li><a class="navUnder" href="contact">Contact</a></li>
      </ul>
    </div>
    <div class="logoWrapper">

    </div>
  </nav>
</div>
